asgiref
crispy-bootstrap5
dj-database-url
Django
django-crispy-forms
django-environ
environ
gunicorn
MouseInfo
numpy
packaging
pillow
psycopg2
PyAutoGUI
pygame
PyGetWindow
PyMsgBox
pyperclip
PyRect
PyScreeze
pytweening
sqlparse
typing_extensions
tzdata